build/
seo/
node_modules/
test/integration/screenshots-current/
_site/
.DS_Store
src/**/*.js
src/**/*.d.ts
src/**/*.map

.runtimeconfig.json

#Ensure that no one checks in the secret config
*.SECRET.*
index.html
index.PARTIAL.html
firestore.rules