service cloud.firestore {
  match /databases/{database}/documents {

  	function userIsAdmin() {
  		return request.auth.uid == 'TPo5MOn6rNX9k8K1bbejuBNk4Dr2' || request.auth.uid == 'KteKDU7UnHfkLcXAyZXbQ6kRAk13';
  	}

    match /{document=**} {
      allow read: if true;
      allow write: if userIsAdmin();
    }
    match /authors/{author} {
    	allow write: if request.auth.uid == author;
    }
    match /messages/{message} {
      allow create: if request.auth.uid == request.resource.data.author;
    	allow update: if request.auth.uid == resource.data.author;
    }
    //The only two fields that can be updated are messages and resolved
    match /threads/{thread} {
    	allow create, update : if request.auth.uid != null;
    }
  }
}
