rules_version = '2';
service firebase.storage {
	match /b/{bucket}/o {

		//By default, things in other buckets that aren't listed (like screenshots) aren't readable

		function isAnonymous() {
			return request.auth != null && request.auth.token != null && request.auth.token.firebase != null && request.auth.token.firebase.sign_in_provider == 'anonymous';
		}

		match /upload/{uid} {
			allow get: if true;
			allow list: if request.auth.uid == uid;
			allow write: if request.auth.uid == uid && !isAnonymous();
		}
	}
}
